.container {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}

.text {
  width: 100%;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  white-space: pre-wrap;
  color: var(--sub-text-color);

  span {
    font-size: 18px;

  }
}
