@use "../../../../styles/variables";
@use "../../../../styles/base";

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  border-radius: var(--border-radius);
}

.nodesAndRunningJobInfoWrapper {
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.nodesContainerDown {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  //background-color: var(--background-color);
  //padding-top: 33px;
  padding-top: 5px;
  //border: 1px solid blue;
  border: 1px solid #42424C;
  padding-right: 5px;
  background: #28292F;
}

.nodeResultWrapper {
  height: 50%;
}

.nodeRunningJobInfoWrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px
}

.listWrapper {
  flex-grow: 1;
  max-width: 100%;
  overflow-y: scroll;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
