.popupWrapper {
  position: relative;
}

.popup {
  box-sizing: border-box;
  position: absolute;
  // top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  // width: 160px;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  background-color: var(--popup-background);
  z-index: 1;

  .popupInput {
    height: 20px;
    padding: 4px 3px 4px 6px;
    display: flex;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1rem;
    background: var(--input-background);
    color: var(--font);
    outline: none;
    width: auto;
    min-width: 100px;
    letter-spacing: 0.05em;

    .searchField {
      border: none;
      padding: 0;
      line-height: 20px;
      height: 20px;
      width: 180px;
      flex-shrink: 1;
      min-width: 0;
    }

    .searchField:placeholder-shown + button {
      visibility: hidden;
    }

    .clearSearchButton {
      margin-left: 6px;
      width: 16px;
      color: var(--sub-text-color);
      font-size: 20px;
    }
  }

  .popupList {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #A5ACB6 transparent;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
    }

    .popupOption {
      display: flex;
      align-items: center;
      min-width: 100px;
      width: calc(100% - 12px);
      font-weight: 300;
      margin-top: 5px;
      line-height: 20px;
      padding: 4px 6px;
      border-radius: 4px;
      background-color: var(--popup-background);

      strong {
        font-weight: 600;
      }

      &.selected,
      &:hover {
        background-color: rgba(255, 255, 255, 0.04);
        cursor: pointer;
      }
    }
  }
}