.panelUpdates {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #A5ACB6;
}

.panelHeaderSpan {
  font-weight: 600;
  font-size: 16px;
}

.panelHeaderContent {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #A5ACB6;
}

.idWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  input {
    width: 5vw;
  }
}

.trackLatestWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
