@import "../../../../../../assets/styles/_base.scss";

.container {
  position: absolute;
  top: 36px;
  width: 100%;
  left: 0;
  @include popupStyle();
  z-index: 11;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 400;
  color: var(--font);
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 132px 65px 1fr;
  grid-gap: 8px;
  padding: 10px 0;

  border-top: 1px solid var(--border-color);
  &:last-of-type {
    border-bottom: 1px solid var(--border-color);
  }
}

.grey {
  color: var(--sub-text-color);
}

.examples {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.label {
  padding: 3px 5px;
  line-height: 18px;
  border-radius: 4px;
  background: var(--label-background);
}

.warningBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 47px;

  border: 1px solid var(--warning-border);
  border-radius: 4px;
  margin-top: 26px;
  color: var(--warning-bright);

  & > svg {
    margin-right: 0.5rem;
    margin-left: 22px;
  }
}
