.createProjectWrapper {
  position: relative;
}

.createProjectButton {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.createProjectPanelWrapper {
  position: absolute;
  right: 0;
  margin-top: 12px;
  z-index: 999;
}
