.executionMetaItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.executionMetaItemGraphCard {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.executionTypeBadge {
  background: rgb(31 111 235 / 20%);
  border: 1px solid #1f6feb;
  color: #58a6ff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 4px 6px 4px 10px;
  gap: 1px;
}

.executionTypeBadge:hover {
  background: rgb(31 111 235 / 35%);
  border-color: #388bfd;
  color: #79c0ff;
  transform: translateX(2px);
}
