.wrapper {
  --diff-background-color: transparent;
  --diff-text-color: var(--font);
  --diff-font-family: Consolas, Courier, monospace;
  //--diff-selection-background-color: #b3d7ff;
  //--diff-gutter-insert-background-color: #5b5536;
  //--diff-gutter-delete-background-color: #236456;
  //--diff-gutter-selected-background-color: #fffce0;
  //--diff-code-insert-background-color: #5b5536;
  //--diff-code-delete-background-color: #236456;
  //--diff-code-insert-edit-background-color: #5b5536;
  //--diff-code-delete-edit-background-color: #236456;
  //--diff-code-selected-background-color: #fffce0;
  //--diff-omit-gutter-line-color: #cb2a1d;

  border-bottom: 2px solid var(--layout-background);
  padding: 16px;
  box-sizing: border-box;

  height: fit-content;
}

.diff {
  height: inherit;
  width: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  align-items: flex-start;
  min-width: 100%;
}
.header {
  height: 40%;
  display: inline-flex;
}
.subHeader {
  align-self: center;
  color: var(--diff-text-color);
}
.arrowIcon {
  margin-left: 10px;
  align-self: center;
}
