
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_Store 
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

dist

node_modules
bower_components

psd
thumb
sketch

dist/
.cache/

cypress/videos

/.env
/.idea


# End of https://www.toptal.com/developers/gitignore/api/react