
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_Store 
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
test-results/
tests/**/*.js

dist

node_modules
bower_components

psd
thumb
sketch

dist/
.cache/

cypress/videos

/.idea
/tests

/tests

# End of https://www.toptal.com/developers/gitignore/api/react