.projectActions {
  opacity: 0;
}

.project_active {
  background-color: var(--selection-color);

  .projectActions {
    opacity: 1;
  }
}

.projectWrapper {
  margin: 1px 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--border-color);
    opacity: 1;
    margin-left: 56px;
    margin-top: 1px;
    margin-bottom: 1px;
    pointer-events: none;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  height: 70px;
  padding-right: 16px;

  &:hover {
    background-color: var(--selection-color);
  }

  &:hover .projectActions {
    opacity: 1;
  }
}

.projectInfo {
  display: flex;
  column-gap: 18px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
}

.projectName {
  color: var(--active-text);
  font-weight: 500;
}

.projectDate {
  font-weight: 400;
  font-size: 12px;
  color: var(--sub-text-color);
}

.projectThumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 38px;
  width: 38px;
}

.splash {
  height: 100%;
  border-top: 1px solid var(--border-color);
}
