.projectActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.checkWrapper {
  width: 19px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.projectChecked {
  .checkWrapper {
    opacity: 1;
  }

  .projectActions {
    opacity: 1;
  }
}

.projectActive {
  background-color: var(--selection-color);
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 910px;
  font-size: 16px;
  height: 70px;
  padding-right: 16px;

  &:hover {
    background-color: var(--selection-color);
  }

  &:hover .projectActions {
    opacity: 1;
  }
}

.projectInfo {
  display: flex;
  column-gap: 18px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  align-items: flex-start;
}

.projectName {
  color: white;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
}

.projectDate {
  color: var(--sub-text-color);
  font-size: 11px;
  font-weight: 400;
  margin-top: 2px;
  opacity: 0.8;
}

.projectThumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 38px;
  width: 38px;
}

.projectThumbnailBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: #d86aff;
  opacity: 0.15;
}

.splash {
  height: 100%;
}
