.projectActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.checkWrapper {
  width: 19px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.projectChecked {
  .checkWrapper,
  .projectActions {
    opacity: 1;
  }
}

.projectActive {
  background-color: var(--selection-color);
}

.projectWrapper {
  margin: 1px 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--border-color);
    opacity: 1;
    margin-left: 56px;
    margin-top: 1px;
    margin-bottom: 1px;
    pointer-events: none;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  height: 70px;
  padding-right: 16px;

  &:hover {
    background-color: var(--selection-color);
  }

  &:hover .projectActions {
    opacity: 1;
  }
}

.projectInfo {
  display: flex;
  column-gap: 18px;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  align-items: flex-start;
}

.projectName {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.9;
}

.projectDate {
  color: var(--sub-text-color);
  font-size: 11px;
  font-weight: 400;
  margin-top: 2px;
  opacity: 0.8;
}

.projectThumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 38px;
  width: 38px;
}

.splash {
  border-top: 1px solid var(--border-color);
  overflow: scroll;
  margin-left: 70px;
  margin-right: 70px;
}

.splashNoProject {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
}