[tool.poetry]
name = "qualibrate-runner"
version = "0.2.2"
description = ""
authors = ["Quantum Machines <info@quantum-machines.co>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.115.2"
uvicorn = "^0.32.0"
pydantic-settings = "^2.2.1"
click = "^8.1.7"
tomli = { version = "^2.0.1", python = "<3.11" }
tomli-w = "^1.0.0"
jsonpatch = "^1.33"
qualibrate-core = { version = "^0.2.0", optional = true }

[tool.poetry.extras]
qualibrary = ["qualibrate-core"]

[tool.poetry.group.dev.dependencies]
mypy = "^1.10.0"
ruff = "^0.7.0"
poethepoet = "^0.26.1"

#[tool.poetry.group.qm-dev.dependencies]
#qualibrate-core = {path = "../qualibrate-core", optional = true}

[tool.poetry.scripts]
qualibrate-runner = "qualibrate_runner.__main__:main"

[tool.mypy]
python_version = "3.9"
strict = true
warn_return_any = true

[[tool.mypy.overrides]]
module = ["jsonpatch", "jsonpointer", "qualibrate.*", "qualibrate_app.*"]
ignore_missing_imports = true

[tool.ruff]
line-length = 80
target-version = "py39"

[tool.ruff.lint]
extend-select = ["I"]

[tool.poe.tasks]
lint = "ruff check ."
lint-fix = "ruff check --fix ."
format = "ruff format --check ."
format-fix = "ruff format ."
type = "mypy ."
check.sequence = ["lint", "format", "type"]
fix.sequence = ["lint-fix", "format-fix", "type"]
fix.ignore_fail = "return_non_zero"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
