[tool.poetry]
name = "qualibrate"
version = "0.1.0"
description = ""
authors = ["Quantum Machines <info@quantum-machines.co>"]
repository = "https://github.com/qua-platform/qualibrate"
packages = [{ include = "qualibrate_composite" }]
readme = "README.md"

include = [
    { path = "qualibrate-wheels/qualibrate_app-0.1.0-py3-none-any.whl", format = ["sdist", "wheel"] },
    { path = "qualibrate-wheels/qualibrate_core-0.1.0-py3-none-any.whl", format = ["sdist", "wheel"] },
    { path = "qualibrate-wheels/qualibrate_runner-0.1.0-py3-none-any.whl", format = ["sdist", "wheel"] },
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^2.7.4"
pydantic-settings = "^2.3.4"
click = "^8.1.7"
tomli = { version = "^2.0.1", python = "<3.11" }
tomli-w = "^1.0.0"
qualibrate-core = {path = "qualibrate-wheels/qualibrate_core-0.1.0-py3-none-any.whl"}
qualibrate-runner = {path = "qualibrate-wheels/qualibrate_runner-0.1.0-py3-none-any.whl"}
qualibrate-app = {path = "qualibrate-wheels/qualibrate_app-0.1.0-py3-none-any.whl"}

[tool.poetry.group.dev.dependencies]
mypy = "^1.8.0"
ruff = "^0.1.15"
poethepoet = "^0.25.0"

#[tool.poetry.group.qm-dev.dependencies]
#qualibrate-app = {path = "../qualibrate-app/backend", develop = true}
#qualibrate-runner = {path = "../qualibrate-runner", develop = true}
#qualibrate-core = {path = "../qualibrate-core", develop = true}

[tool.poetry.group.test.dependencies]
pytest = "^8.0.0"
pytest-mock = "^3.12.0"

[tool.poetry.scripts]
qualibrate = "qualibrate_composite.__main__:main"


[tool.mypy]
python_version = "3.9"
strict = true
warn_return_any = true
exclude = ['tests/']

[[tool.mypy.overrides]]
# TODO: add py.typed to json_timeline_database and remove from ignore imports
module = ["jsonpatch", "jsonpointer", "qualibrate", "qualibrate_app.*",  "qualibrate_runner.*", "json_timeline_database.*"]
ignore_missing_imports = true

[tool.ruff]
line-length = 80
extend-select = ["I"]
target-version = "py39"


[tool.poe.tasks]
lint = "ruff ."
lint-fix = "ruff --fix ."
format = "ruff format --check ."
format-fix = "ruff format ."
type = "mypy ."
check.sequence = ["lint", "format", "type"]
fix.sequence = ["lint-fix", "format-fix", "type"]
fix.ignore_fail = "return_non_zero"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
