.adminNavigationPanels {
  padding: 0px;
  ul {
    width: 0;
    column-gap: 50px;
  }
}

.layout {
  position: relative;
  background-color: var(--background-color);
  padding: 50px 70px;
}

.content {
  padding: 50px 0;
}

.usersPage {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
}

.users {
  flex: 1;
}

.userProjects {
  width: 750px;
}

/* General */
.settings {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
