.iconButton {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &.withText {
    width: unset;
    justify-content: flex-start;
    & > svg {
      width: 28px;
      margin-right: 8px;
    }
  }
}
