@import "../../../assets/styles/_base.scss";
.button {
  height: 28px;
  padding: 0 11px;

  border: 1px solid var(--outline-button-border);
  border-radius: 14px;

  background: var(--outline-button);
  color: var(--outline-button-text);

  display: flex;
  justify-content: center;
  @include rowGap(8px);

  &.isCircle {
    width: 28px;
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.disabled {
  color: var(--outline-button-disabled-text);
}
