@use "../../../styles/variables";
@use "../../../styles/base";

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 45px;
  width: calc(100% - 20px);
  margin: 5px 10px;
  padding: 0 12px;
  border-radius: 10px;
  box-sizing: border-box;
  white-space: pre;
  font-size: 13px;
  color: var(--menu-text-color);
  transition: background-color 0.2s;
  border: 1px solid var(--menuitem-border-color);

  &.selected {
    background-color: var(--menuitem-selected);
    border: 1px solid var(--menuitem-selected-border-color);
  }

  &:hover {
    border: 1px solid var(--menuitem-selected-border-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  svg {
    height: 24px;
    width: 24px;
    min-width: 24px;
  }
}