.runButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 9px;
  background: #009380;
  border-radius: 16px;
}

.runButtonIcon {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.runButtonText {
  font-size: 12px;
  color: white;
}

.updateAllButton {
  width: 80px;
}

.description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &.descriptionFull {
    display: flex;
  }
}
