/* sidebar menu */
$sidebar_full_width: 198px;
$sidebar_collapsed_width: 68px;

$sidebar_padding: 24px;

/* breakpoints */
$small_devices: 768px;

$tablet_devices: 992px;

$medium_devices: 1100px;

$large_devices: 1300px;

$header_font_size: 20px;

$job_meta_width: 0 0 585px;
