@use "../../styles/variables";
@use "../../styles/base";

.wrapper {
  height: 100%;
  display: flex;
  color: var(--font) !important;
}

.nodesContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}

.refreshButtonWrapper {
  justify-content: space-between;
}

.searchAndRefresh {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.buttonWrapper {
  align-content: center;
}

.listWrapper {
  flex-grow: 1;
  border: 2px solid var(--border-color);
  padding: 2px;;
  background-color: var(--popup-background);
  max-width: 100%;
  overflow: scroll;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 16px;
}

.logsText {
  color: #2CCBE5;
}
