.field {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;

  .chip {
    border-radius: 6px;
    padding: 2px 0 2px 6px;
    height: 20px;
    color: #3CDEF8;
    background-color: #2CCBE51A;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;

    .chipLabel {
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
      overflow: hidden;
    }

    .chipRemoveButton {
      margin-left: 6px;
      width: 16px;
      color: #3CDEF8;
      font-size: 20px;
      flex-shrink: 0;
    }
  }

  .openPopupButton {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #3CDEF8;
    color: #3CDEF8;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
}

.popupWrapper {
  position: relative;

  .popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    width: 160px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid var(--border-color);
    background-color: var(--popup-background);
    z-index: 1;

    .popupInput {
      height: 20px;
      padding: 4px 3px 4px 6px;
      display: flex;
      border-radius: 4px;
      font-size: 0.875rem;
      line-height: 1rem;
      background: var(--input-background);
      color: var(--font);
      outline: none;
      width: auto;
      min-width: 100px;
      letter-spacing: 0.05em;

      .searchField {
        border: none;
        padding: 0;
        line-height: 20px;
        height: 20px;
        width: 130px;
        flex-shrink: 1;
        min-width: 0;
      }

      .searchField:placeholder-shown + button {
        visibility: hidden;
      }

      .clearSearchButton {
        margin-left: 6px;
        width: 16px;
        color: var(--sub-text-color);
        font-size: 20px;
      }
    }

    .popupList {
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: #A5ACB6 transparent;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
      }

      .popupOption {
        display: block;
        min-width: 100px;
        width: calc(100% - 12px);
        font-weight: 300;
        margin-top: 5px;
        line-height: 20px;
        padding: 4px 6px;
        border-radius: 4px;
        background-color: var(--popup-background);

        strong {
          font-weight: 600;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.04);
          cursor: pointer;
        }
      }
    }
  }
}