@import "../../../assets/styles/_base.scss";

.wrapper {
  position: relative;
  user-select: text;
}

.label {
  user-select: text;
  border-radius: 28px;
  width: fit-content;
  height: 28px;
  box-sizing: border-box;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include rowGap(9px);

  border: 1px solid var(--outline-button-border);
  color: var(--outline-button-text);
  background: var(--outline-button);

  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--outline-button-active-border);
    color: var(--outline-button-active-text);
    background: var(--outline-button-active);
  }
}

.popup {
  width: fit-content;
  min-width: 200px;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 0;
  padding: 15px;
  border: 1px solid var(--tooltip-border);
  background: var(--tooltip);
  box-shadow: var(--tooltip-shadow);
  color: var(--font);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 18px 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.tableLabel {
  display: flex;
  align-items: center;
  @include rowGap(9px);
  color: var(--sub-text-color);
}
