@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.extended {
}

.infoHeader {
  margin-bottom: 32px;
}

.infoBody {
  padding: 32px 40px;
  max-height: 100%;
  overflow-y: auto;
  flex: 1;
  max-width: 540px;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.moduleActive {
  visibility: visible !important;
}

.graphView,
.codeView {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.runJobButton {
  width: 172px;
  background: var(--accent-color-main) !important;
}

.panels {
  position: relative;
  display: flex;
  height: calc(100% - 62px);
}

.referenceFrame {
}
