@import "../../../../assets/styles/_base.scss";
.popup {
  @include popupStyle();
  z-index: 10;
  position: absolute;
  top: 50px;
  right: 0;

  width: 480px;
  max-height: 250px;
  border-radius: 10px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
}
.popupButton {
  margin-left: 0.5rem;
}
