.navigation {
  background-color: var(--code-background);
  height: 40px;

  margin-bottom: 8px;

  ul {
    width: 100%;
    justify-content: center;

    li {
      width: 200px;
      border-bottom: 0 !important;
    }

    .active {
      background-color: var(--code-background-hover);
    }
  }
}

.systemInfo {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--popup-background);
  border-left: 1px solid var(--border-color);
  width: 660px;
  overflow-y: scroll;
  align-self: flex-end;
  display: flex;
  height: 100%;
  flex-direction: column;
  z-index: 2;
  color: var(--font);
  padding: 28px 36px;
  box-sizing: border-box;
}

.navigationPanel {
}
