@use "../../../../assets/styles/_base.scss";

.wrapper {
  flex: 1;
  width: 100%;
  background-color: var(--log-background);
  color: var(--log-color);
  padding: 32px 40px;
  box-sizing: border-box;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
  font-family: monospace;

  @include base.yScroll();

  white-space: pre-wrap;

  p {
    font-weight: 600;
    font-size: 0.875em;
  }
}
