.bannerWrapper {
  padding: 34px 42px;
  background: var(--box-background);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;

  @media (width <= 1000px) {
    padding: 20px;
  }

  @media (width <= 700px) {
    padding: 30px 20px;
  }
}
