.linkWrapper {
  display: flex;
  align-items: center;
  column-gap: 34px;
  cursor: pointer;
}

.linkIcon {
  @media (max-width: 800px) {
    display: none;
  }
}

.linkInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.linkDescription {
  font-size: 14px;
  color: var(--secondary-blue-button);
}
