@import "../../../../assets/styles/_base.scss";

.button {
  height: 28px;
  padding: 0 11px;
  border: 1px solid var(--outline-button-border);
  background: var(--outline-button);
  border-radius: 14px;
  flex: 1;
  color: var(--outline-button-text);
  display: flex;
  justify-content: space-between;
  @include rowGap(10px);
}

.text {
  flex: 1;
  text-align: start;
}

.active {
  border: 1px solid var(--input-border-active);
}
