.graph {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    flex: 1;
  }
}

.graphView {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  &.moduleActive {
    display: block;
  }
}
