@import "../../assets/styles/variables";
@import "../../assets/styles/base";

.wrapper {
  height: 100%;
  display: flex;
  background: var(--background-color);
  border-radius: var(--border-radius);
}

.nodesContainerTop {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100% - 20px);
  background-color: var(--background-color);
}

.nodesContainerDown {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100% - 20px);
  background-color: var(--background-color);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.listWrapper {
  flex-grow: 1;
  max-width: 100%;
  overflow: scroll;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}