@use "../../assets/styles/variables";
@use "../../assets/styles/base";

.wrapper {
  height: 100%;
  background: var(--background-color);
  border-radius: var(--border-radius);
}

.nodesAndRunningJobInfoWrapper {
  height: calc(100% - 80px);
  display: flex;
}

.nodesContainerTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  background-color: var(--background-color);
}

.nodesContainerDown {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  //background-color: var(--background-color);
  //padding-top: 33px;
  padding-top: 5px;
  //border: 1px solid blue;
  border: 1px solid #42424C;
  padding-right: 30px;
  background: #28292F;
}

.nodeResultWrapper {
  height: 50%;
}

.nodeRunningJobInfoWrapper {
  padding-left: 20px;
  padding-top: 10px
}

.titleWrapper {
  display: flex;
  padding-left: 30px;
  background-color: #28292F;
}

.nodeElementListWrapper {
  padding: 14px 20px;
  background: #28292F;
  border: 1px solid var(--border-color);
  overflow: scroll;
  height: 100%;
}

.listWrapper {
  flex-grow: 1;
  max-width: 100%;
  overflow-y: scroll;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}