@import "../../assets/styles/base";
.titleWithIcon {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;

  width: 100%;

  font-size: 14px;
  color: var(--sub-text-color);

  &.active {
    color: var(--active-text);
  }
}
