.rowGroup {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  border-top: 1px solid var(--border-color);
  min-height: 38px;
  padding: 5px 0;
  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  &.highlight {
    background: var(--table-active-background);
    color: var(--active-text);
  }

  &.isClickable {
    cursor: pointer;
    &:hover {
      background: var(--table-active-background);
    }
  }
}
