.table {
  margin-bottom: 32px;
}

.tableName {
  margin: 16px 0;
  font-weight: 600;
  color: var(--body-font);
}

.tableBody {
}

.rowGroup {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border-color);

  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  &.highlight {
    background: var(--table-active-background);
    color: var(--active-text);
    .rowHeader {
      color: var(--active-text);
    }
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;

  font-size: 14px;

  position: relative;
  top: 1px;

  padding: 7px 0 8px 0;
  box-sizing: border-box;

  flex-basis: auto;

  &:last-child > .rowValue {
    flex: 1;
  }

  .rowControls {
    display: flex;
    align-items: center;
    gap: 32px;

    justify-content: right;
  }
}

.rowHeader {
  color: var(--sub-text-color);
}

.rowValue {
  display: flex;
  color: var(--font);
  align-items: center;
  gap: 4px;
  flex: initial;

  svg {
    min-width: 22px;
  }
}
