@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/base";

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  background: var(--background-color);
  border-radius: var(--border-radius);
}

.graphContainer {
  flex: 1;
  align-content: center;
  width: 60%;
}

.headingWrapper {
  max-height: 10%;
}

.graphAndHistoryWrapper {
  max-height: calc(90% - 20px);
}

.leftContainer {
  color: rgb(217 213 212);
  min-width: 33%;
  max-height: calc(100% - 20px);
  overflow: auto;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100% - 20px);
  background-color: var(--background-color);
}
