@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base";

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  background: var(--background-color);
  border-radius: var(--border-radius);
}


.upperContainer {
  color: rgb(217 213 212);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100% - 20px);
  background-color: var(--background-color);
}

//.titleWrapper {
//  display: flex;displaydisplay
//  justify-content: space-between;justify-contentjustify-content
//}
//
//.listWrapper {flex-growflex-grow
//  border: 2px solid var(--border-color);borderborder
//  padding: 0 2px 2px;paddingpadding;
//  background-color: var(--popup-background);background-colorbackground-color
//  max-width: 100%;max-widthmax-width
//  overflow: scroll;overflowoverflow
//}
//
//.dot {height
//  width: 5px;widthwidth
//  background-color: #bbb;background-colorbackground-color
//  border-radius: 50%;border-radiusborder-radius
//  display: inline-block;displaydisplay
//}