.loopLabel {
  background-color: #505050;
  border: 1px solid #888;
  margin: 1px;
  top: 1px;
  left: 1px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  border-radius: 13px;
  position: absolute;
  padding: 0 10px;
  pointer-events: all;

  .iterations {
    border-left: 1px solid #888;
    height: 100%;
    line-height: 22px;
    display: block;
    padding-left: 5px;
    margin-left: 5px;
  }

  &:hover {
    background-color: #727171;
    border-color: #a2a2a2;
    outline: 1px solid #a2a2a2;
  }
}
