.experiment {
  box-sizing: border-box;
  padding: 14px 16px;
  display: flex;
  gap: 14px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  align-items: flex-start;
  text-align: start;
  width: 100%;

  &:hover {
    background-color: var(--hover-grey);
  }

  &.active {
    background: var(--table-active-background);
  }
}

.experimentInfo {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex: 1;
}

.description {
  line-height: 16px;
  font-size: 16px;
  color: var(--font);
}

.operation {
  display: flex;
  color: var(--sub-text-color);
  font-size: 14px;
  white-space: nowrap;
  & div:first-child {
    padding-right: 10px;
  }
}
