@import "../../../assets/styles/base";

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--job-list-header);
  height: 41px;
  padding: 0 16px;
  @include rowGap(0.5rem);

  .header {
    font-size: 16px;
    color: var(--sub-text-color);
    flex: 1;
  }

  button {
    font-size: 0.875em;
  }
}

.listWrapper {
  background-color: var(--job-list-background);
  border: 1px solid var(--border-color);
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.list {
  overflow-y: auto;
  height: calc(100% - 41px);
}
