@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/base";

.wrapper {
  height: 100%;
  min-height: 65%;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--popup-background);
}
