@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/base";

.wrapper {
  height: 100%;
  min-height: 65%;
  border: 1px solid var(--border-color);
  background-color: var(--popup-background);
}
