.rowWrapper {
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 9px;
  position: relative;
  background-color: var(--popup-background);
  border-left-color: rgb(165 172 182 / 40%);
  padding: 10px 17px;
  min-height: 19px;
}

.nodeSelectedFinished {
  border: 1px solid rgba(0, 213, 154, 0.2);
  border-left: 3px solid #00D59A;
}

.nodeSelectedRunning {
  border: 1px solid rgba(60, 222, 248, 0.2);
  border-left: 3px solid #3CDEF8;
}

.nodeSelectedError {
  border: 1px solid rgba(255, 97, 115, 0.2);
  border-left: 3px solid #FF6173;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
}

.rowWrapperRunning {
  background-color: rgba(60, 222, 248, 0.08);
}

.rowWrapperFinished {
  background-color: rgba(0, 213, 154, 0.08);
}

.rowWrapperError {
  background-color: rgba(255, 97, 115, 0.08);
}

.dot {
  min-height: 7px;
  min-width: 7px;
  background-color: rgb(165 172 182 / 20%);
  border-radius: 50%;
  display: inline-block;
  margin-top: 11px;
}

.greenDot {
  min-height: 7px;
  min-width: 7px;
  background-color: #00D59A;
  border-radius: 50%;
  display: inline-block;
  margin-top: 11px;
}

.redDot {
  min-height: 7px;
  min-width: 7px;
  background-color: #FF6173;
  border-radius: 50%;
  display: inline-block;
  margin-top: 11px;
}

.greyDot {
  min-height: 7px;
  min-width: 7px;
  background-color: #A5ACB6;
  border-radius: 50%;
  display: inline-block;
  margin-top: 11px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.blueDot {
  min-height: 7px;
  min-width: 7px;
  background-color: #3CDEF8;
  border-radius: 50%;
  display: inline-block;
  margin-top: 11px;
  animation: pulse 1.9s ease-in-out infinite;
}

.dotSelected {
  background-color: #00D59A;
}

.runButton {
  cursor: pointer;
  padding: 5px 9px;
  background: #009380;
  border-radius: 16px;
}

.runButtonIcon {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.runButtonText {
  font-size: 12px;
  color: white;
}

.dotWrapper {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 80%;
}

.titleOrNameWrapper {
  align-items: center;
  max-width: 80%;
  width: 20%;
  display: flex;
  flex: 1;
  font-size: 16px;
  font-weight: bolder;
}

.titleOrName {
  display: block;
  max-width: 100%;
}

.descriptionTooltip {
  overflow: scroll;
  max-height: 500px;
  white-space: pre-line;
  //background-color: #42424C;
  border-radius: 6px;
}

.descriptionWrapper {
  padding-left: 10px;
  align-content: center;
  text-align: right;
  margin-top: 5px;
}

.description {
  max-width: 100%;
}

.descriptionText {
  font-size: 13px;
}

.updateAllButton {
  width: 80px;
}