@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/base";

.wrapper {
  min-height: 20%;
  background: var(--background-color);
  border-radius: var(--border-radius);
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 400px;
}
