.rowWrapper {
  background-color: #28292F;
  display: flex;
  flex-direction: column;
  background: var(--bg-color-light);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 0.5px 0;
  padding: 6px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgb(124 122 122 / 50%);
    background-color: var(--hover-highlight);
  }

  &.nodeSelected {
    border-color: var(--primary-color);
    background-color: #28292F;
  }

  &.expanded {
    background-color: #28292F;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #40a8f5;
}

.titleOrName {
  font-size: 14px;
  flex: 1;
  cursor: pointer;
}

.description {
  color: var(--text-muted);
  font-size: 12px;
}

.expandedContent {
  padding: 15px;
  margin-top: 10px;
  background: var(--bg-color-expanded);
  border-radius: 8px;
}

.runInfoAndParameters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/* Run Info Section */
.runInfo {
  flex: 1;
  min-width: 260px;
  max-width: 100%;
  background: var(--bg-color-light);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 110px;
}

/* Parameters Section */
.parameters {
  flex: 1;
  min-width: 260px;
  max-width: 100%;
  background: var(--bg-color-light);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
