@import "../../../../assets/styles/variables";

.job {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-left: 3px solid var(--grouping-border);
  border-radius: 4px;
  transition: all 0.1s ease-in;

  &:hover {
    border-left: 3px solid var(--grouping-border-hover);
  }

  &.expanded {
    border-left: 3px solid var(--grouping-border-active);
  }
}

.jobHeader {
  display: flex;
  align-items: center;
  background-color: var(--table-header);
  font-weight: 600;
  column-gap: 62px;
  height: 45px;
  cursor: pointer;
  color: var(--font);
  padding: 0 12px;
  font-size: 17px;
}

.workflowInfo {
  display: flex;
  align-items: center;
  // flex: $job_meta_width;

  color: var(--sub-text-color);
  font-weight: 300;
  font-size: 14px;
  column-gap: 32px;
}

.jobName {
  flex: 1;
  font-weight: 400;
  font-size: 1.1em;

  .active {
    font-weight: 600;
  }
}
