@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/_base.scss";

.wrapper {
  display: flex;
  align-items: center; 
  padding: 8px 12px;
  border-radius: 8px;
  width: 313px;
}

.hoverRegion {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 8px;

  &:hover {
    background-color: rgb(255 255 255 / 4%);
  }
}

.indicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 16px;   
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.topRowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.bottomRowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusContainer {
  border-radius: 6px;
}

.running {
  background-color: #3cddf814;
  color: #fff;

  .timeRemainingText {
    color: #8CA0B3;
    font-size: 11px;
    padding-right: 21px;
  }
}

.statusRunning {
  background-color: #3cddf81c;
  color: #3CDEF8;
  padding: 1px 4px;
  font-weight: 500;
  font-size: 14px;
  max-width: 222px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.statusRunningValue {
  opacity: 0.8;
}

.finished {
  background-color: #14e1a81a;
  color: #fff;
}

.statusFinished {
  background-color: #32ffc61a;
  color: #32FFC6;
  padding: 1px 4px;
  font-weight: 500;
}

.error {
  background-color: #ff61731a;
  color: #fff;
}

.statusError {
  background-color: #ff617326;
  color: #FF6173;
  padding: 1px 4px;
  font-weight: 500;
}

.pending {
  background-color: var(--popup-background);
  color: #A5ACB6;
}

.statusPending {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #3CDEF8;
  font-weight: 500;
}

.nodeRunningLabel {
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 285px; 
}

.noNodeRunningLabel {
  font-size: 14px;
  color: #a0a0af;
}
