@mixin resultMetaItem {
  display: flex;
  align-items: center;

  column-gap: 12px;
}

.result {
  display: flex;
  column-gap: 100px;

  padding: 28px 0;

  color: var(--sub-text-color);
  border-bottom: 1px solid var(--border-color);
}

.resultDescription {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 16px;
}

.resultText {
  line-height: 28px;
}

.resultHeader {
  @include resultMetaItem;
}

.resultType {
  display: flex;
}

.resultName {
  color: var(--font);
}

.resultMetaInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  font-size: 14px;
  font-weight: 400;
}

.resultTimestamp,
.resultOwner {
  @include resultMetaItem;
}

.resultDateIcon,
.resultOwnerThumb {
  display: flex;
  align-items: center;
}
