.parameterTitle {
  font-size: 14px;
  height: 25px;
  display: flex;
}

.title {
  font-size: 16px;
  height: 25px;
  display: flex;
}

.sectionWrapper {
  padding-left: 18px;
  padding-bottom: 5px;
}

.arrowIconWrapper {
  margin-top: -3px;
  padding-right: 5px;
}
