.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4px 10px;

  background-color: var(--popup-background);
  color: var(--sub-text-color);
  font-size: 14px;

  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 40px;

  cursor: pointer;
}

.tag_active {
  background-color: var(--tag-hover-color);
}
