@use "../../styles/_base";

.inputWrapper {
  position: relative;
  width: inherit;

  &.withIcon {
    input {
      padding-left: 40px;
    }
  }
}

.disabledInput {
  cursor: not-allowed;
  opacity: 0.6;
}

.inputIcon {
  position: relative;
  bottom: 11px;
  transform: translateY(50%);
}

.input {
  @include base.input;

  &.error {
    border: 1px solid rgb(255 36 99 / 30%);
  }
}

.label {
  color: var(--body-font);
}

.inputTitle {
  color: var(--sub-text-color);
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 8px;
  position: relative;
  white-space: nowrap;
}

.inputController {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;

  &.withIcon {
    display: block;

    > .inputTitle {
      padding-bottom: 5px;
      font-size: 14px;
    }
  }

  &.newLineBetween {
    display: unset;
  }
}

.inputControllerWithLock {
  margin-bottom: 70px;
}


.inputName:not(:empty) {
  width: 85px;
}

.inputField {
  flex: 1;
  position: relative;
  height: 40px;
}

.inputSelect {
  &::after {
    content: "▼";
    font-size: 1rem;
    top: 10px;
    right: 10px;
    position: absolute;
  }
}

.addBottomPadding {
  padding-bottom: 30px;
}

.lockValue {
  flex: 150px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  column-gap: 10px;
  color: var(--sub-text-color);
  font-size: 0.875rem;
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  line-height: 14px;
  color: var(--error);
  font-weight: 400;
  font-size: 12px;
}

.inputIcon_inner {
  position: absolute;
  bottom: 19px;
  left: 10px;
}

.labelWrapper {
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--grey-highlight);
  margin-top: 6px;
  display: block;

  &.error {
    color: var(--error);
  }
}