.wrapper {
  display: flex;
  column-gap: 12px;
  height: 56px;
  padding: 0 12px;

  align-items: center;

  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--hover-grey);
  }
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background-color: var(--icon-thumbnail);
  width: 36px;
  height: 36px;

  border-radius: 36px;

  svg {
    position: relative;
    bottom: 1px;
  }
}

.userName {
  display: flex;
  align-items: center;
  flex: 1;

  width: 100%;
  height: 100%;

  color: var(--sub-text-color);
  border-bottom: 1px solid var(--border-color);

  &:hover,
  &.active {
    font-weight: 500;
    color: var(--active-text);
  }
}
