.wrapper {
  padding-top: 13px;
  padding-left: 25px;
  padding-bottom: 13px;
  width: auto;
  min-height: 30px;
  border: solid 1px var(--border-color);
  border-radius: 7px;
  flex-direction: column;
}

.upperContainer {
  display: flex;
}

.bottomContainer {
  display: flex;
}

.parametersContainer {
  max-width: 40%;
}

.graphContainer {
  flex: 1;
  align-content: center;
  width: 60%;
  padding-top: 10px;
  min-height: 300px;

  &.graphContainerVisible {
    min-height: 300px;
  }
}

.leftContainer {
  place-content: center space-between;
  align-items: center;
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
  width: 300px;
}

.rightContainer {
  display: flex;
  place-content: center space-between;
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

.runButtonWrapper {
  align-content: center;
  max-height: fit-content;
  padding-right: 10px;

  svg {
    display: table-row;

  }
}

.refreshButtonWrapper {
  align-content: center;
  color: var(--blue-icon-button-text);
}

.calibrationGraphSelected {
  background-color: var(--selected-node);
}