@use "../../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--font);
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.addLeftMargin {
  margin-left: 133px;
}

.layout {
  flex: 1;
  position: relative;

  --color-text: black;
  --color-background: var(--selected-tab);
  --color-base: white;
  --color-1: var(--layout-background);
  --color-2: #f0f0f0;
  --color-3: #e9e9e9;
  --color-4: #e2e2e2;
  --color-5: #dbdbdb;
  --color-6: #d4d4d4;
  --color-drag1: #5f86c4;
  --color-drag2: #77a677;
  --color-drag1-background: rgb(95 134 196 / 10%);
}

.header {
  display: none;
  background-color: var(--layout-background) !important;
  border: none !important;
}

.header_panel {
  border-top: 6px solid transparent;
  border-radius: 15px 15px 0 0;
}

.header_panel_widget {
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  background-color: var(--disabled-tab) !important;
  color: var(--font) !important;
  border-bottom: 2px solid var(--layout-background);
  min-width: 100px;
  padding: 5px 12px;
  position: relative;
  right: 5px;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.8em;

  &:hover {
    color: var(--font) !important;
    background-color: var(--input-background) !important;
  }
}

.header_panel_widget_selected {
  background: var(--background-color) !important;
  color: var(--sub-text-color);
  border-bottom: unset;
}

.emptyPlaceholder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
