.statusErrorWrapper {
  overflow: scroll;
  max-height: 150px;
  padding: 20px;
  padding-top: 0;
  flex: none;
}

.statusErrorHeaderWrapper {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

.statusErrorRowWrapper {
  overflow: scroll;
  padding-left: 0;
}