@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/_base.scss";

.container {
  position: relative;
  width: variables.$sidebar_collapsed_width;
  height: 100vh;
}

.sidebarMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: variables.$sidebar_collapsed_width;
  height: 100vh;
  box-sizing: border-box;
  padding-top: variables.$sidebar_padding;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background: var(--menu-background);
  transition: width ease-in-out 0.3s;

  &.opened {
    width: variables.$sidebar_full_width;
  }
}

.qualibrateLogo {
  padding-left: variables.$sidebar_padding;
  height: 50px;
  margin-bottom: 50px;

  @media screen and (height <= 700px) {
    margin-bottom: 10px;
  }
}

.menuContent {
  @include base.yScroll();

  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuUpperContent {
  display: flex;
  flex-direction: column;

  @include base.colGap(15px);
}

.menuBottomContent {
  display: flex;
  flex-direction: column;
}

