.wrapper {
  width: 100%;
  height: 100%;

  --xy-attribution-background-color: #FFF !important;
}

.defaultNode {
  width: 50px;
  height: 50px;
  outline: 2px solid #000;
  border-radius: 50%;
  background: url("/assets/icons/nodes.svg") center no-repeat, #FFF;
  position: relative;
  cursor: pointer;

  .defaultNodeLabel {
    color: #A8A6A6;
    font-weight: 400;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .defaultNodeHandle {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &.selected {
    background-color: #3b93dc;
    border-width: 1px;
    font-weight: 1;
    color: #FFF;
  }
}