.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--border-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;

  li {
    position: relative;
    top: 1px;
    padding: 20px 0;
    font-size: 1em;
    color: var(--sub-text-color);
    border-bottom: 2px solid transparent;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
      font-weight: 600;
      color: var(--active-text);
      border-bottom: 2px solid var(--active-text);
    }
  }

  .active {
    opacity: 1;
    color: var(--active-text);
    border-bottom: 2px solid var(--active-text);
  }
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.resultsNumber {
  font-size: 14px;
  background-color: var(--icon-thumbnail);
  border-radius: 4px;
  padding: 2px 8px;
}

.actions {
}
