.projectPageWrapper {
  max-width: 100%;
  padding: 50px 70px 20px;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
  color: var(--sub-text-color);
  font-size: 16px;
  font-weight: 400;
}

.splashNoProject {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
}


.projectPageLayout {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  max-width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.projectActions {
  padding-right: 20px;
}

.pageActions {
  border-radius: 45px;
  height: fit-content;
  width: fit-content;
  position: sticky;
  bottom: 80px;
  left: 70px;
  background-color: var(--background-color);
  z-index: 10;
  display: flex;
}

.actionButton {
  width: 150px;
  height: 40px;
}

.searchProjectField {
  input {
    border-radius: 45px;
  }
}
