@use "../../../../../styles/variables.scss";
@use "../../../../../styles/_base.scss";

.graphCardWrapper {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-radius: 46px;
  width: 782px;
  height: 50px;
  gap: 12px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.defaultGraphCardContent {
  display: flex;
  align-items: center;
  border-radius: 46px;
  gap: 12px;
  padding: 8px 12px;
  padding-right: 18px;
}

.running {
  background-color: rgb(14 60 74 / 10%);
  border: 1px solid rgb(60 222 248 / 20%);
  color: #fff;
}

.finished {
  background-color: rgb(11 59 48 / 10%);
  border: 1px solid rgb(50 255 198 / 20%);
  color: #fff;
}

.error {
  background-color: rgb(77 31 31 / 10%);
  border: 1px solid rgb(255 97 115 / 20%);
  color: #fff;
}

.pending {
  border: 1px solid #42424C;
}

.indicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;   
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.hoverRegion {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 46px 12px 12px 46px;
  padding: 4px 4px 4px 2px;
  width: 300px;

  &:hover {
    background-color: rgb(255 255 255 / 4%);
  }
}

.graphTitleDefault {
  color: #a0a0af;
  font-size: 14px;
}

.graphTitle {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 245px; 
}   

.graphStatusRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusText {
  border-radius: 6px;
  text-transform: capitalize;
}

.statusRunning {
  background-color: #3cddf81c;
  color: #3CDEF8;
  padding: 1px 4px;
  font-weight: 500;
}

.statusFinished {
  background-color: #32ffc61a;
  color: #32FFC6;
  padding: 1px 4px;
  font-weight: 500;
}

.statusError {
  background-color: #ff617326;
  color: #FF6173;
  padding: 1px 4px;
  font-weight: 500;
}

.statusPending {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #3CDEF8;
  font-weight: 500;
  margin-top: 2px;
}

.nodeCount {
  font-weight: 400;
  color: #A5ACB6;
  font-family: Roboto, sans-serif;
  opacity: 0.8;
}

.graphCardContent {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
  gap: 12px;
}

.stopAndTimeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-width: 90px;
  text-align: center;
}

.stopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nodeStopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.timeRemaining {
  color: #A5ACB6;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0.6;

  .timeElapsedText {
    display: flex;
    justify-content: center;
    margin-top: 2px;  
  }
}
