.actionButton {
  background-color: var(--popup-background);
  font-weight: 500;
  font-family: var(--font-family);

  height: 34px;
  border-radius: 40px;
  border: 1px solid var(--border-color);
  padding: 6px 16px;
  color: var(--font);

  gap: 10px;
}

.stub {
  width: 24px;
}
