.pageWrapper {
  display: none;
  height: 100%;

  &.active {
    display: flex;
    flex-direction: column;
  }
}

.emptyPlaceholder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
