@use "../../styles/variables";
@use "../../styles/base";

.wrapper {
  height: calc(100% - 5px);
  width: 100%;
  display: flex;
  background: var(--background-color);
  border-radius: var(--border-radius);
}

.graphContainer {
  flex: 1;
  align-content: center;
  width: 60%;
}

.graphAndHistoryWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leftContainer {
  display: flex;
  color: rgb(217 213 212);
  min-width: 33%;
  height: 100%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  flex-grow: 1;
  color: rgb(217 213 212);
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  background-color: var(--background-color);
}