.conditionLabel {
  position: absolute;
  background-color: #505050;
  border: 1px solid #888;
  font-size: 14px;
  height: 22px;
  display: flex;
  align-items: center;
  border-radius: 13px;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  pointer-events: all;
}

.conditionLabel:hover {
  background-color: #727171;
  border: 2px solid #a2a2a2;
}
