.loadingBar {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 2rem 0;
  flex-direction: column;
  color: var(--sub-text-color);
}

.error {
  max-height: 300px;
  overflow-y: auto;
}
