@use "../../styles/variables";
@use "../../styles/base";


.titlebarWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.rightsidePanelWrapper {
  height: calc(100% - 90px);
  display: flex;
  flex-grow: 1;
  position: relative;
}

.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
