.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tooltipRow {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.tooltipLabel {
  font-weight: 500;
  color: #a0a0af;
  min-width: 110px;
}

.tooltipValue {
  font-weight: 500;
  color: #fff;
}
