@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/_base.scss";

.wrapper {
  display: flex;
  align-items: center; 
  padding: 8px 12px;
  border-radius: 8px;
  width: auto;
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.indicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.topRowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.bottomRowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusContainer {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.running {
  background-color: #3cddf814;
  color: #fff;

  .timeRemainingText {
    color: #8CA0B3;
  }
}

.statusRunning {
  background-color: #3cddf81c;
  color: #3CDEF8;
}

.finished {
  background-color: #14e1a81a;
  color: #fff;
}

.statusFinished {
  background-color: #32ffc61a;
  color: #32FFC6;
}

.error {
  background-color: #ff61731a;
  color: #fff;
}

.statusError {
  background-color: #ff617326;
  color: #FF6173;
}

.pending {
  background-color: var(--popup-background);
  color: #A5ACB6;
}

.statusPending {
  background-color: transparent;
  font: 14 'Roboto';
  color: #3CDEF8;
}

.noNodeRunningLabel {
  font: 14;
  color: #a0a0af;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tooltipRow {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 1.5;
}

.tooltipLabel {
  font-weight: 500;
  color: #a0a0af;
  min-width: 110px;
  text-align: left;
}

.tooltipValue {
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

.pointerCursor {
  cursor: pointer;
}
