@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/_base.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-dark);
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.menuCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 25px;
  margin-right: 25px;
}

.createProjectWrapper {
  position: relative;
}

.createProjectButton {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.createProjectPanelWrapper {
  position: absolute;
  right: 0;
  margin-top: 12px;
  z-index: 999;
}
