@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/_base.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-dark);
  border-radius: 8px;
  width: 100%;
}

.menuCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 25px;
  margin-right: 25px;
}

