.titleButton {
  display: grid;
  grid-template-columns: 20px 1fr;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: var(--font);
  margin-bottom: 8px;
}

.subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--sub-text-color);
}

.content {
  padding-left: 20px;
}
.codeBlock {
  background: var(--code-background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px 13px;
  margin-top: 14px;
}
