.title {
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--border-color);

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  margin-bottom: 24px;
  margin-top: 32px;

  color: var(--active-text);
}
