.wrapper {
  display: flex;
  flex-direction: column;
}

.subFrames {
  display: flex;
  flex: 1;
  height: 0;
  max-height: 0;
  &.visible {
    height: auto;
    max-height: unset;
    min-height: 150px;
  }
}
