.list {
  display: flex;
  padding: 16px;
  box-sizing: border-box;

  min-width: 160px;

  flex-direction: column;

  width: 100%;

  position: absolute;
  top: 32px;
  right: 0;

  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(33, 33, 37, 0.5);

  background-color: var(--popup-background);
  border: 1px solid var(--border-color);

  z-index: 1;
}

.listName {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--body-font);
  opacity: 0.6;
}
