@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/_base.scss";

.header {
  height: 50px;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include rowGap(0.5rem);

  font-size: variables.$header_font_size;
  font-family: var(--font-family-cond), monospace, serif;

  &.withBtmMargin {
    margin-bottom: 32px;
  }
}

.titleContainer {
  overflow: hidden;
  flex: 1;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--font);
}

.subText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--sub-text-color);
}

.content {
  display: flex;
  align-items: center;
  gap: 5px;
}
