@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/_base.scss";

.button {
  font-size: 1em;
  line-height: 35px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 16px;

  svg {
    color: inherit;
  }
}
