.defaultNode {
  width: 40px;
  height: 40px;
  outline: 2px solid #40464d;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: #161b22;
  transition: all 0.2s;

  &:hover {
    outline-color: #58a6ff;
  }

  .defaultNodeLabel {
    color: #A8A6A6;
    font-weight: 400;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .defaultNodeHandle {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &.selected {
    outline-color: #58a6ff;
    border-width: 1px;
    font-weight: 1;
    color: #FFF;
  }

  &.subgraph {
    transition: background-position 0s;
    background: url("/assets/icons/nodes.svg") center no-repeat, #161b22;
  }
}

.loopLabel {
  background-color: #505050;
  border: 1px solid #888;
  font-size: 14px;
  height: 22px;
  display: flex;
  align-items: center;
  border-radius: 13px;
  position: absolute;
  padding: 0 10px;

  .iterations {
    border-left: 1px solid #888;
    height: 100%;
    line-height: 22px;
    display: block;
    padding-left: 5px;
    margin-left: 5px;
  }
}