.wrapper {
  font-size: 0.875em;
}

.description {
  color: var(--sub-text-color);
  opacity: 0.8;
  font-weight: 400;
  margin-bottom: 14px;
}

.value {
  color: var(--sub-text-color);
  letter-spacing: 0.0357143em;
  font-weight: 400;
}

.changeButton {
  background: unset;
  border: unset;
  color: var(--secondary-blue-button);
  padding: 0;
}

.large {
  color: var(--font);
  font-size: 1.125em;
}

.valueField {
  display: flex;
  column-gap: 12px;
}
