@import "../../assets/styles/variables";
@import "../../assets/styles/base";

.wrapper {
  height: 100%;
}

.data {
  min-width: 350px;
  width: 350px;
  overflow: scroll;
}

.explorer {
  height: calc(100% - 50px);
  display: flex;
  box-sizing: border-box;
}

.viewer {
  display: flex;
  border: 1px solid var(--border-color);
  overflow: hidden;
  max-width: 100%;
}
