.popup {
  position: absolute;
  top: 40px;
  right: 15px;

  width: 240px;
  padding: 12px 20px;

  background: var(--popup-background);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 10px rgba(33, 33, 37, 0.5);
  border-radius: 4px;

  z-index: 1;

  & button {
    padding: 6px 0;
  }
}

.addJobButton {
  width: 100% !important;
}
