@use "base";

/* latin-ext */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("assets/fonts/Roboto-Thin.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("assets/fonts/Roboto-Thin.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/Roboto-Light.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/Roboto-Light.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Roboto-Regular.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Roboto-Regular.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Roboto-Medium.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Roboto-Medium.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Light.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Light.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Regular.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Regular.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Bold.ttf") format("opentype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/RobotoCondensed-Bold.ttf") format("opentype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body,
div#root {
  @include base.fullPage;

  font-family: var(--font-family), serif;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: unset;
  font-family: var(--font-family), serif;

  &:disabled,
  .disabled {
    cursor: not-allowed;
  }
}

:root {
  --background-color: #2b2c32;
  --font: #fff;
  --body-font: #a5abb3;
  --sub-text-color: #a5abb3;
  --hover-grey: rgb(198 205 214 / 3%);
  --border-color: #42424c;
  --box-background: rgb(36 36 41 / 40%);
  --error: #ff2463;
  --warning-bright: #ffdb2c;
  --warning: #ac9730;
  --warning-border: #ffdb2c33;
  --font-family: "Roboto", sans-serif;
  --font-family-cond: "Roboto Condensed", monospace, serif;
  --code-background: #2b2c32;
  --code-background-hover: #36383e;
  --active-text: #2ccbe5;
  --active-hover: #2ccbe51a;
  --copy-field: #c6cdd626;
  --blue-button: #05869c;
  --blue-button-text: #fff;
  --blue-button-disabled: #42424c;
  --blue-button-disabled-text: rgb(255 255 255 / 60%);
  --secondary-blue-button: #2ccbe5;
  --secondary-blue-button-disabled: #c6cdd6;
  --outline-button: #323339;
  --outline-button-border: #42424c;
  --outline-button-text: #fff;
  --outline-button-disabled-text: #a5abb3;
  --outline-button-active: rgb(44 203 229 / 10%);
  --outline-button-active-border: #2b5964;
  --outline-button-active-text: #2ccbe5;
  --blue-icon-button-text: #2ccbe5;
  --blue-icon-button-hover-text: #94e5f2;
  --disabled-tab: rgb(43 44 50 / 50%);
  --selected-tab: #2b2c32;
  --selected-node: #414149;
  --layout-background: #212125;
  --input-background: #2a2b31;
  --input-border: #42424c;
  --input-border-active: #c6cdd6;
  --dropdown-item-hover: #2ccbe51a;
  --checkbox-background: #c6cdd60d;
  --checkbox-border: #42424c;
  --checkbox-hover-border: #94e5f2;
  --checkbox-active-background: #2bcbe4;
  --menu-background: #212125;
  --menu-text-color: #c6cdd6;
  --menu-hover-text: #242c32;
  --menu-accent-color: #2ccbe5;
  --admin-header-background: #242429;
  --icon-thumbnail: #42424c;
  --log-background: #1e1e1e;
  --log-color: #fff;
  --popup-background: #323339;
  --overlay-background: #212125cc;
  --overlay-background-blocking: #212125;
  --label-background: #484a50;
  --tooltip: #2a2b31;
  --tooltip-border: #42424c;
  --tooltip-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
  --table-header: #323339;
  --table-background: #2b2c32;
  --table-hover: #2b2c32;
  --table-active-background: rgb(44 203 229 / 5%);
  --job-list-header: #212125;
  --job-list-background: #242429;
  --selection-color: rgb(198 205 214 / 3%);
  --grouping-border: rgb(198 205 214 / 60%);
  --grouping-border-hover: rgb(198 205 214 / 100%);
  --grouping-border-active: #fff;
  --green: #bdff94;
  --green-light: #2e392d;
  --yellow: #fed465;
  --yellow-light: #403931;
  --blue: #81e1ff;
  --blue-light: #2e3846;
  --red: #ff8484;
  --red-light: #40333a;
  --white: #fff;
  --grey: #c6cdd6;
  --grey-light: #37393f;
  --grey-highlight: #A5ACB6;
  --tag-hover-color: #2b444d;
  --popup-fade-wrapper: rgb(33 33 37 / 80%);
  --action-button-hover: #31424a;
  --action-button-hover-border: #2f7988;
  --color-splitter: #212125;
  --color-splitter-hover: #2b444d;
  --status-color-running: #3CDEF8;
  --status-color-finished: #00D59A;
  --status-color-error: #FF6173;
  --status-color-pending: #A5ACB6;
  --menuitem-hover: #2ccbe51f;
  --menuitem-selected: #2ccbe514;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
}

p {
  font-weight: normal;
  margin: unset;
}

input::placeholder {
  color: var(--sub-text-color);
  letter-spacing: 0.06em;
}

select {
  color: var(--sub-text-color);
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
}

input[type="checkbox"] {
  background: var(--checkbox-background);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 2px;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  font-size: 1.4em;
  line-height: 1.5em;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background: var(--secondary-blue-button);
  position: relative;

  &::after {
    height: 100%;
    width: 100%;
    content: "✓";
    color: var(--popup-background);
    font-size: 0.6em;
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 700;
  }
}

fieldset {
  border: none;
  padding: 0;
}


foreignobject {
  y: 15;
  x: 0;
  color: grey
}