name: Publish release to PyPI

on:
  release:
    types: [ published ]

env:
  # make sure the poetry creates the venv inside the workspace under .venv
  POETRY_VIRTUALENVS_IN_PROJECT: true

jobs:
  build:
    name: Publish from release
    if: github.event_name == 'release'
    uses: qua-platform/qualibrate-core/.github/workflows/reusable-build.yaml@main

  release:
    name: Release package to PyPi
    runs-on: ubuntu-latest
    needs:
      - build-release
      - build-manually
    permissions:
      id-token: write
      contents: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # This is necessary so that we have the tags.
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
          pattern: python-package-*

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
